@import "less/bootstrap.less";

@red: #F44336;
@lightred: #D84336;
@grey: #727272;
@lightgrey: #e9e9e9;
@darkgrey: #222;

body {
	padding:50px;
	color:@darkgrey;
    background: @grey;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	font-size:16px;
}

#root {
    background: @lightred;
    padding: 25px;

    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: @lightgrey;
            }
        }
    }

    .buttons {
        margin: 0 auto;
        width: 300px;
    }

    button {
        width: 300px;
        height: 50px;
        text-align: left;
        font-size: 16px;
        outline: none;
        border: none;
        background: #dedede;
        margin-bottom: 25px;

        span {
            float: right;
            margin-right: 10px;
        }

        &:focus {
            outline:none !important;
        }

        &:hover {
            background: #efefef;
        }
    }

    p {
        padding: 50px;
        background: @lightgrey;
        color: #333;
        width: 60%;
        margin: 0 auto;
    }

    p.view {
        background: @darkgrey;
        color: @red;
    }

    .interaction {

        margin-bottom: 25px;

        button {
            margin: 0 auto 25px;
            display: block;
        }
    }

    .taglist {

        width: 60%;
        margin: 0 auto;

        .tag {
            padding: 3px 12px;
            background: @grey;
            color: #fff;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 5px;

            &:hover {
                background: @lightgrey;
                color: @lightred;
                cursor: pointer;
            }
        }

        p.myText {
            width: 100%;
            margin-top: 50px;
        }
    }
}


